	<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>PoolMunch</h1>
        <p>Create your pools and check their results</p>
        <p>
            <a href="/auth/facebook">
				<div class="btn btn-primary" id="login-btn">
					<p></p><span style="color:#FFFFFF;"><span class="fa fa-facebook"></span> Sign in with Facebook</span></p>
				</div>
			</a>
        </p>
      </div>
    </div>
	<div class="container">
	</div>